<html>
  <head>
    <title>Buy Order {{ order.id }}</title>
  </head>
  <body>
    <h1>Order #{{ order.id }}</h1>
    <ul>
      {% for order_item in order.order_items.all %}
        <li>{{ order_item.item.name }} x {{ order_item.quantity }} - {{ order_item.line_total }}</li>
      {% endfor %}
    </ul>
    <p>Total: {{ order.total_amount }}</p>
    <button id="buy-button">Buy</button>
    
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
      var stripe = Stripe('{{ publishable_key }}');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        fetch('/buy_order/{{ order.id }}/', {method: 'GET'})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.sessionId }));
      });
    </script>
  </body>
</html>
